#label-attribute-form {
  position: absolute;
  z-index: 99;
  top: 300px;
  left: 700px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  background: #313131cc;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  align-items: flex-start;
}
#label-attribute-form div {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
#label-attribute-form div input {
  flex: 1;
}
#label-attribute-form .title {
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.label-ar-tool-box {
  justify-content: flex-end;
  transform: translateY(5px);
  gap: 5px;
}
.label-ar-tool-box button {
  background: transparent;
  padding: 3px 10px;
  border: 1px solid gray;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  letter-spacing: 3px;
}
.label-ar-tool-box button:hover {
  cursor: pointer;
  background: #078ee780;
}